.service {
  display: flex;
  flex-direction: column;
  border: none;
  width: 423px;
  height: 590px;
  margin: 2rem;
}

.icon-size{
  width: 23%;
}

.icon-size-wide {
  height: 95.94px;
  padding: 1.5rem;
}

.servicesList{
  background-color: aqua;
  list-style-type: none; /* Remove default list styling */
}

@media screen and (max-width: 800px) {
  .service {
    height: auto;
    max-height: none !important;
    min-height: 570px !important;
    width: 358px;
    padding: 20px !important;
  }

  .title-desc-services {
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .title-desc-services h4 {
    font-size: 2.5rem;
  }

  .u-text-small {
    font-size: 2.5vw;
  } 
  
}
